/* Скрываем кнопку фильтра по умолчанию */
.filter-toggle-btn {
    display: none !important;
}

/* Общие стили */
.content {
    display: flex;
}

/* Медиа-запрос для маленьких экранов */
@media (max-width: 752px) {
    .filter {
        position: fixed;
        top: 0;
        left: -100%; /* Начинаем с того, что фильтр находится за пределами экрана */
        width: 250px; /* Устанавливаем ширину фильтра */
        height: 100vh;
        background-color: var(--white);
        box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
        transition: left 0.3s ease-in-out; /* Плавная анимация */
    }

    .filter-toggle-btn {
        display: block !important; /* Показываем кнопку */
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 15px;
        font-size: 16px;
        background-color: var(--black);
        color: var(--white);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }
    .job-list{
        width: 100%;
    }
    .skills-column a{
        font-size: 12px;
    }
}

.reset-filters-btn {
    padding: 10px 20px;
    background-color: var(--border-color);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.reset-filters-btn:hover {
    color: var(--white);
    background-color: var(--main-back-color);
}