.job-list {
    width: 75%;
}

.job-card {
    /*background-color: rgba(227, 227, 227, 0.13);*/
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    position: relative;
}

.job-card h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.job-card p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}
.job-card.info {
    color: #141414;
}
.job-card {
    display: flex;
    gap: 20px;
}
.job_title{
    color: var(--main-color);
    font-size: 16px;
}
.info-column {
    flex: 2;
}
.info-column h3{
    color: var(--black);
    font-size: var(--h3-font-size);
}


.job-card .additional-info {
    display: none; /* Скрыто по умолчанию */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.job-card .additional-info.visible {
    display: block;
    opacity: 1;
}

.job-card .toggle-info-btn {
    padding: 5px 10px;
    color: var(--main-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.skills-column {
    padding: 2% 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}
.skills-column a{
    align-self: flex-start;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.08);
    color: var(--main-color);
}


.skills-column a:hover {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.08);
    color: var(--black);
}

.card_buttons_container{
    display: flex;
    flex-direction: column;
}
.phone-button{

}
.save-button{
    margin: 7px 0;
}