

/* Иконка меню для мобильного */
.menu-icon {
    display: none;
    font-size: 20px;
    cursor: pointer;
    align-self: center;
}

/* Всплывающее меню */
.popup-menu {
    display: none;
    background-color: var(--white);
    height: 100vh;
}

.popup-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px;
}

.popup-menu ul li {
    padding: 5px 2px;
    color: black;
    cursor: pointer;
}

@media (max-width: 468px) {
    .right_menu {
        display: none !important; /* Принудительно скрываем меню */
    }

    .menu-icon {
        display: block; /* Показываем иконку меню */
    }
    .head{
        padding: 0 5%;
    }
}



@media (max-width: 530px) {
    .load_btn{
        font-size: 12px;
    }
    .search-input{
        font-size: 12px;
    }
    .results-info {
        font-size: 14px;
        margin: 5px 10px;
    }
}

@media (max-width: 468px) {
    .header{
        flex-direction: column;
    }
    .search-button{
        width: 100%;
        height: 5vh;
    }
}
